@charset   "UTF-8";


body{
	color : #ffffff;
	font-size : 14px;
	background-color : #202035;
}
hr{
	background-color : #008800;
	border : 0px;
	width : 80%;
	height : 2px;
}
.topic{
	margin: 20px;
	font-size : 25px;
	background-color : #303045;
	border-bottom:1px solid #ff4040;
	border-right:2px solid #ff4040;
	width:100%-40px;
}
.section{
	margin: 20px;
	font-size : 25px;
	background-color : #303045;
	border-bottom:1px solid #40ff40;
	border-right:2px solid #40ff40;
	width:100%-40px;
}
.notice{
	margin: 5px 20px 5px 20px;
	color : #aaaaaa;
	padding:5px 10px 5px 10px;
	vertical-align:middle;
	border:1px solid #303080;
}
.ntop{
	color : #aaaaff;
	font-weight: bold;
}
.ncon{
	color : #aaaaaa;
	padding-left:30px;
	padding-right:30px;
}
.replay{
	margin:auto;
	width:90%;
	border-right:1px solid #202035;
	border-left:1px solid #202035;
	border-top:1px solid #202035;
}
.name{
	text-align:center;
	width:175px;
	padding:5px;
	display:table-cell;
	text-align:right;
	font-weight: bold;
}
.say{
	border-left:1px solid #779;
	padding:5px;
	vertical-align:middle;
	display:table-cell;
	width:100%-175px;
}
.set{
	border-bottom:1px solid #334;
	display:table;
	table-layout:fixed;
	width:100%;
}
.incomment{
	color : #aaaaaa;
	font-weight: bold;
	display:inline-block
}
.innotice{
	color : #aaaaff;
	font-weight: bold;
	display:inline-block
}
.opening{
	font-style: italic;
	display:inline-block
}
.intitle{
	color : #ffffff;
	font-size : 20px;
	font-weight: bold;
	display:inline-block
}
.intitle2{
	color : #dddddd;
	font-size : 16px;
	display:inline-block
}
.dice{
	font-weight: bold;
	display:inline-block
}
.dice_result{
	color : #ffff44;
	font-weight: bold;
	display:inline-block
}
.dice_ok{
	color : #44ffff;
	font-weight: bold;
	display:inline-block
}
.dice_crt{
	color : #22ff22;
	font-weight: bold;
	display:inline-block
}
.dice_ng{
	color : #ff4444;
	font-weight: bold;
	display:inline-block
}
.dice_fnv{
	color : #666666;
	font-weight: bold;
	display:inline-block
}
.c0{color: #eeeeee;}	/* GM		*/
.c1{color: #ee4060;}	/* Rapre	*/
.c2{color: #A5C5A6;}	/* Utako	*/
.c3{color: #ccaa34;}	/* Laog		*/
.c4{color: #5cd014;}	/* Rinrai	*/
.c5{color: #D33595;}	/* Liruls	*/
.c6{color: #e6c900;}	/* Merry	*/
.c7{color: #8ae4fb;}	/* Ziube	*/
.c8{color: #6979ff;}	/* Thuksafur	*/
.c9{color: #47b2e4;}	/* Sil		*/
.c10{color: #BDB76B;}	/* Bilbis	*/
.c11{color: #d8e698;}	/* Hisyo	*/
